location            = "eastus"
resource_group_name = "rg-ansible-safe-lab"
vm_name             = "rhel-ansible-safe-01"
admin_username      = "azureuser"
vm_size             = "Standard_B2s"
ssh_public_key       = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAA... user@host"
ssh_source_cidr     = "0.0.0.0/0"

vnet_name            = "vnet-ansible-safe"
vnet_cidr            = "10.20.0.0/16"
workload_subnet_name = "workload-subnet"
workload_subnet_cidr = "10.20.1.0/24"

nsg_name           = "nsg-workload"
nic_name           = "nic-rhel-safe-01"
vm_public_ip_name  = "pip-rhel-safe-01"
